body
{
font-family:verdana,arial,sans-serif;
color: #FFD700;
background-color: #090807;
font-size:.9em;
background-image:url('images/star3.gif');
background-position: top left;
background-repeat: repeat;
background-attachment: fixed;
background-size: 20%;
}



h1
{ 
color: #FFD700 ;
background-color:#373633;
text-align: left;
letter-spacing: 2px;
font-weight: normal;
padding: 5px 0px;
border-top: 4px groove black;
border-bottom: 4px groove black;
border-left: 4px groove black;
border-right: 4px groove black;
text-shadow: -1px 1px #01300B;

}

a:link
{
color:#aa4339;
}

a:visited
{
color: #550800;	
padding: 0px 2px;
}

a:hover
{
color:#550800;
background-color: white;
}

table, th, td
{
width: 60%;
border: 10px, solid, black;
border-radius: 20;
padding: 5px;	
}

.centeredtext
{
text-align: center;
}

#maroontext
{
color: maroon;
}












}